{# Ιδανικό URL: https://www.gentikis.gr/contact #}
{% extends "base.html" %}

{% block title %}Επικοινωνία | Υδραυλικός Κηφισιά - Τηλέφωνο Άμεσης Ανάγκης{% endblock %}
{% block description %}Επικοινωνήστε με την επιχείρηση Γεντίκης Λεωνίδας στην Κηφισιά για κάθε υδραυλική βλάβη, ανακαίνιση ή προσφορά. Καλέστε μας στα τηλέφωνα επικοινωνίας.{% endblock %}

{% block content %}
<section class="WordSection1">
    <h1>Η επιχείρησή μας</h1>
    <p>Από το 1999 εκτελούμε έργα ύδρευσης, θέρμανσης και φυσικού αερίου
        σε όλη την Αττική αλλά και στην υπόλοιπη Ελλάδα.<br />
        Αναλαμβάνουμε έργα σε βίλες, πολυκατοικίες, διαμερίσματα, νέες εγκαταστάσεις, επισκευές και ανακαινίσεις.<br />
        Η πολυετής μας εμπειρία στο επάγγελμα εγγυάται το καλύτερο δυνατό αποτέλεσμα.<br />
        Επενδύουμε σταθερά στον εξοπλισμό μας με τα πιο σύγχρονα μηχανήματα,
        διατηρώντας το επίπεδο των υπηρεσιών μας στην κορυφή.<br />
        <br />
        Είμαστε εξουσιοδοτημένοι εγκαταστάτες φυσικού αερίου από την Εταιρεία Διανομής Φυσικού Αερίου Αττικής.
    </p>

    <figure>
         <img src="{{ url_for('static', filename='images/Enaon.png') }}" alt="Λογότυπο Enaon - Φυσικό Αέριο">
         <figcaption><a href="https://www.edaattikis.gr" target="_blank">Επίσημη ιστοσελίδα Enaon - Κάντε κλικ εδώ</a></figcaption>
    </figure>
</section>
{% endblock %}