{# Ιδανικό URL: https://www.gentikis.gr/ #}
{% extends "base.html" %}

{% block title %}Υδραυλικός Κηφισιά & Βόρεια Προάστια | Λεωνίδας Γεντίκης{% endblock %}
{% block description %}Αναζητάτε έμπειρο υδραυλικό στην Κηφισιά; Ο Λεωνίδας Γεντίκης προσφέρει άμεσες υδραυλικές εργασίες, αποφράξεις και εγκαταστάσεις φυσικού αερίου από το 1999.{% endblock %}

{% block content %}


<head>
<meta name="google-site-verification" content="4Ra0p3vwe5eZtZz8YA5DdW14vLgYe-yjqnJ5FHi4QYY" />
</head>

<h1>Υδραυλικός στην Κηφισιά αλλά και σε όλη την Αττική - Άμεσα κοντά σας με ένα τηλεφώνημα</h1>

<figure id="fig1">
  <figcaption>Ο υδραυλικός σας</figcaption>
  <img src="{{ url_for('static', filename='images/plamer.jpg') }}" alt="Υδραυλικές εργασίες Γεντίκης - Άμεση εξυπηρέτηση">

</figure>

<p class="class1">
  Ολοκληρωμένες υπηρεσίες<br>
  Με σεβασμό στο χώρο σας<br>
  Υπεύθυνα & Αξιόπιστα
</p>
{% endblock %}